1 -  Discuss string slicing and provide examples

In [ ]:
solution -1
String slicing is a method of obtaining a part of a given string by slicing it.
syntax
string[start:stop:step]

In [18]:
#example of string[start:stop]
aim = "I am a data scientist"
aim[2:4] #will give items from index 2 to index 4-1 i.e 3 with step size 1(default)

'am'

In [19]:
#example of string[start:stop:step]
aim = "I am a data scientist"
aim[2:11:2] #will give items from index 2 to index 11-1 i.e 10 with step size 2

'a  aa'

In [20]:
#example of string[:stop:step]
aim = "I am a data scientist"
aim[:11:2] #will give items from index 0(default) to index 11-1 i.e 10 with step size 2

'Ia  aa'

In [21]:
#example of string[::step]
aim = "I am a data scientist"
aim[::3] #will give items from index 0(default) to last index with step size 3

'Im tsei'

In [22]:
#example of string[::]
aim = "I am a data scientist"
aim[::3] #will give items from index 0(default) to last index with step size 1(default)

'Im tsei'

In [23]:
#example of string[::-1] i.e negative stepsize
aim = "I am a data scientist"
aim[::-1] #it will reverse the string

'tsitneics atad a ma I'

2  Explain the key features of lists in Python.

In [ ]:
solution 2
the key features of list are
. lists are collection of hetrogenous element i.e. it can contain any type of data structure
. lists are mutable i.e. we can add,remove and change the items after the list is defined
. list are ordered and elements can be accessed by index

3 Describe how to access , modify and delete elements in a list with examples.

In [ ]:
solution 3
here are the examples of how to access,modify and delete elements in a list

1- to access elements of list

In [24]:
lst = [1,2,3,"a","b","c",[1,2,3,4],(7,8,9),{3,4,5},{"k1": "v1","k2" : "v2"}]
lst[6] #use index of item to acess it

[1, 2, 3, 4]

In [25]:
lst[7][2] #acess nested items

9

In [26]:
lst[8][2] #as at index 8 is set we cannot acess its items

TypeError: 'set' object is not subscriptable

In [27]:
lst[9]["k2"] #at index 9 is dictionary so use key to acess its value

'v2'

2. to modify element of list

In [28]:
lst = [1,2,3,"a","b","c",[1,2,3,4],(7,8,9),{3,4,5},{"k1": "v1","k2" : "v2"}]

In [29]:
lst[6] = "d" #replace index 6 element which is nested list with string "e"

In [30]:
lst

[1, 2, 3, 'a', 'b', 'c', 'd', (7, 8, 9), {3, 4, 5}, {'k1': 'v1', 'k2': 'v2'}]

In [31]:
lst[9]["k1"] = "v3" #as 9th index element is dictionary we can modify it using key
lst

[1, 2, 3, 'a', 'b', 'c', 'd', (7, 8, 9), {3, 4, 5}, {'k1': 'v3', 'k2': 'v2'}]

In [32]:
lst[7][2] = 4 #as 7th index element is tuple we cannot modify it

TypeError: 'tuple' object does not support item assignment

3. to delete items

In [33]:
lst = [1,2,3,"a","b","c",[1,2,3,4],(7,8,9),{3,4,5},{"k1": "v1","k2" : "v2"}]
lst.remove([1,2,3,4]) #remove given element from list
lst

[1, 2, 3, 'a', 'b', 'c', (7, 8, 9), {3, 4, 5}, {'k1': 'v1', 'k2': 'v2'}]

In [34]:
lst.pop() #remove last element from list

{'k1': 'v1', 'k2': 'v2'}

In [35]:
lst

[1, 2, 3, 'a', 'b', 'c', (7, 8, 9), {3, 4, 5}]

In [36]:
lst.pop(7) #remove 7th index element from list

{3, 4, 5}

In [37]:
lst

[1, 2, 3, 'a', 'b', 'c', (7, 8, 9)]

4.Compare and contrast tuples and lists with examples.

In [ ]:
solution 4
The main difference between tuples and list is tuples are immutable but list are mutable due to which
uneexpected errors are more likely to occur in list than tuple.

In [38]:
#Examples
lst = [1,2,3,4,5]
tup = (1,2,3,4,5)

In [39]:
#list are mutable
lst[2] = 7 #can change element
lst

[1, 2, 7, 4, 5]

In [40]:
lst.remove(2) #can remove element
lst

[1, 7, 4, 5]

In [41]:
#tuples are immutable
tup[2] = 7 #cannot change element
tup

TypeError: 'tuple' object does not support item assignment

In [42]:
tup.remove(2) #cannot remove element
tup

AttributeError: 'tuple' object has no attribute 'remove'

5- Describe the key features of sets and provide examples of their use.

Sets are unordered

In [43]:
#example
s = {1,2,3,4,5}
s[1] #sets are unordered,we cannot use indexing or slicing

TypeError: 'set' object is not subscriptable

Set elements are unique. Duplicate elements are not allowed.

In [44]:
#example
s = {1,1,1,1,2,2,2,3,3,3} 
s                #duplicate element will be deleted
                  #we can use this to eliminate duplicate elements from different datastructures

{1, 2, 3}

In [45]:
#example
lst =[1,1,2,2,2,3,3]
lst

[1, 1, 2, 2, 2, 3, 3]

In [46]:
set(lst)      #will delete duplicate elements of list

{1, 2, 3}

A set is mutable

In [47]:
s = {1,2,3,4,5,6}
s.add("a")     #we can add elements
s

{1, 2, 3, 4, 5, 6, 'a'}

In [48]:
s.remove(6)
s

{1, 2, 3, 4, 5, 'a'}

A set itself mutable, but the elements contained in the set must be of an immutable type.

In [49]:
s = {[1,2,3,4],"a","b","c"} #cannot contain list as list is mutable

TypeError: unhashable type: 'list'

6. Discuss the use cases of tuples and sets in Python programming.

In [ ]:
solution 6
tuples being immutable can be used when we want our data to be unchanged and same
wheras list can be used when we want mutable sequence of object whose length can vary

7. Describe how to add, modify, and delete items in a dictionary with examples.

to add items in dictionary

In [50]:
#example
dict1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4"}
dict1

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

In [51]:
dict1["k5"] = "v5"
dict1      #new key pair k5,v5 will be added

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4', 'k5': 'v5'}

to modify items in dictionary

In [52]:
dict1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4"}
dict1["k1"] = "x1"
dict1             #value of k1 changed to x1 from v1

{'k1': 'x1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

to delete items in dictionary

In [53]:
del dict1["k1"]
dict1     #will delete key k1 and its value v1

{'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

8. Discuss the importance of dictionary keys being immutable and provide examples

In [ ]:
dictionary key should be immutable otherwise hash value always gets changed 
and it will be difficult to find right key value pair

In [17]:
#example
dict1 = {[1,2,3]:'a',(1,2,3):'b'} #we cannot use list as key

TypeError: unhashable type: 'list'